VITE_API_BASE_URL=http://localhost:8080
VITE_APP_BASE_URL=http://localhost:5173
VITE_SSO_LOGIN_URL=https://chcse.knu.ac.kr/appfn/login?client_id=commit&redirect_uri=https%3A%2F%2Fchcse.knu.ac.kr%2Flocker%2Fcallback&state=295d8676-e569-4ed3-8a8a-f58c28f21a7c
VITE_POSTHOG_KEY=your_posthog_project_token
VITE_POSTHOG_HOST=https://us.i.posthog.com
